/*General Page Style */
* {
  font-family: sans-serif;
}
body{
  background-color: #F1F2F3 ;
}
h1 {
  font-weight: bold;
}
h2 {
  font-weight: bold;
}
h4{
  font-weight: bold;
}

/* Nav Bar Styling Extra */
  #nav{
    background-color: #D2232A;
    position:fixed;
    z-index: +1;
  }
  .nav-link{
    color: white;
  }
  .nav-item{
    margin: 5px 5px 10px 10px;
    color:white;
  }
  .nav-item:hover{
    background-color: #B31B21;
  }
  .logo-text{
    font-weight: bold;
    color: black;
  }
  .nav-link{
    font-weight: bold;
  }
  /* NavBar Hover */
  .nav-item:hover .dropdown-menu {
    display: block;
  }
  /* Nav Display Hover */
  .dropdown-menu {
    background-color: #B31B21;
  }
  .dropdown-item{
    background-color: #B31B21;
  }
  .dropdown-item:hover{
    background-color: #99171A;
  }
  /* Push start of page below NavBar */
  #nav-space{
    height: 7rem;
    }


  /* Nav Bar change for small devices */
  @media (max-width: 768.5px) {
    .nav-logo {
      width: 4rem;
    }
    #nav-space{
      height: 6rem;
    } 
  }

/* ----------------------- Main ------------- */

/* Intro Text */
.intro-photo{
  background-image: url('./Assets/bob-campbell-oval.jpg');
  /*width: 95%;*/
  height: 80vh; 
  background-size: cover; /* Ensures the image covers the whole div */
  background-position: center; /* Centers the image */
}
.intro-text{
  background-color: None;
  font-size: 1.5rem;
  border-radius: 2%;
  position: relative;
}

    /* Custom CSS for responsive padding */
    @media (min-width: 768.5px) {
      /*.text-read {
        padding-left: 40px;
        padding-right: 40px;
      } */
    }
 
    .card-background{
      background-color: #FFFFFF;
    }
    

/* Club section */
.club-section {
  background-color: #D9DBDC;
  border-radius: 1%;
  border: 1px solid #F1F2F3;
}
.mask{
background-color: rgba(251, 251, 251, 0.15);
}






/*Footer Stylings */
#footer{
  background-color: #D2232A;
  
}
.footer-link-flex{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.copyright{
  margin-bottom: 0px;
}
