/*General Page Style */
* {
  font-family: sans-serif;
}
body{
  background-color: #F1F2F3 ;
}
h1 {
  font-weight: bold;
}
h2 {
  font-weight: bold;
}
h4{
  font-weight: bold;
}
/* Page layout for paragraph readability */
div.page {
  max-width: 65rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1.5rem;
  position: relative;
}


/* Nav Bar Styling Extra */
  #nav{
    background-color: #D2232A;
    position:fixed;
    z-index: +1;
  }
  .nav-link{
    color: white;
  }
  .nav-item{
    margin: 5px 5px 10px 10px;
    color:white;
  }
  .nav-item:hover{
    background-color: #B31B21;
  }
  .logo-text{
    font-weight: bold;
    color: black;
    margin-left: 4rem;
  }
  .nav-link{
    font-weight: bold;
  }
  /* NavBar Hover */
  .nav-item:hover .dropdown-menu {
    display: block;
  }
  /* Nav Display Hover */
  .dropdown-menu {
    background-color: #B31B21;
  }
  .dropdown-item{
    background-color: #B31B21;
  }
  .dropdown-item:hover{
    background-color: #99171A;
  }
  /* Push start of page below NavBar */
  #nav-space{
    height: 7rem;
    margin-bottom: 3rem;
    }


  /* Nav Bar change for small devices - shrink nav*/
  @media (max-width: 768.5px) {
    .nav-logo {
      width: 4rem;
    }
    #nav-space{
      height: 6rem;
    } 
  }
  /* High-resolution screens */
  @media only screen and (min-resolution: 2.5dppx) {
    /* Styles for high pixel density devices need a smaller nav bar so remove margin further*/
    .nav-logo {
      width: 4rem;
    }
    #nav-space{
      height: 6rem;
    } 
    .logo-text{
    margin-left: 0.5rem;
    }
  }

/*Footer Stylings */
  #footer{
    background-color: black;
    
  }
  .footer-link-flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .copyright{
    margin-bottom: 0px;
    color: white;
  }

/* ----------------------- Main ------------------- */
  /* Home Page CSS */
    /* Intro Text */
    .intro-photo{
    background-image: url('./Assets/bob-campbell-oval.jpg');
    /*width: 95%;*/
    height: 80vh; 
    background-size: cover; /* Ensures the image covers the whole div */
    background-position: center; /* Centers the image */
    }
    .intro-text{
    background-color: None;
    font-size: 1.5rem;
    border-radius: 2%;
    position: relative;
    }

      .card-background{
        background-color: #FFFFFF;
      }
      

    /* Club section */
    .club-section {
    background-color: #D9DBDC;
    border-radius: 1%;
    border: 1px solid #F1F2F3;
    }
    .mask{
    background-color: rgba(251, 251, 251, 0.15);
    }



    /* Gmaps */
    .gmaps{
      text-align:center
    }
